.cell {
  align-items: center;
  background-color: #fefefe;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: #666;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: auto;
  width: 100%;
  font-size: 5vh;
  height: 100%;
  line-height: 10vh;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.cell:hover {
  background-color: #eee;
  color: #000;
  transition: 200ms;
}

.cell:nth-child(3n + 1) {
  border-left-color: #222;
}

.cell:nth-child(3n + 3) {
  border-right-color: #222;
}

.cell:nth-child(19),
.cell:nth-child(20),
.cell:nth-child(21),
.cell:nth-child(22),
.cell:nth-child(23),
.cell:nth-child(24),
.cell:nth-child(25),
.cell:nth-child(26),
.cell:nth-child(27),
.cell:nth-child(46),
.cell:nth-child(47),
.cell:nth-child(48),
.cell:nth-child(49),
.cell:nth-child(50),
.cell:nth-child(51),
.cell:nth-child(52),
.cell:nth-child(53),
.cell:nth-child(54),
.cell:nth-child(73),
.cell:nth-child(74),
.cell:nth-child(75),
.cell:nth-child(76),
.cell:nth-child(77),
.cell:nth-child(78),
.cell:nth-child(79),
.cell:nth-child(80),
.cell:nth-child(81) {
  border-bottom-color: #222;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6),
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9),
.cell:nth-child(28),
.cell:nth-child(29),
.cell:nth-child(30),
.cell:nth-child(31),
.cell:nth-child(32),
.cell:nth-child(33),
.cell:nth-child(34),
.cell:nth-child(35),
.cell:nth-child(36),
.cell:nth-child(55),
.cell:nth-child(56),
.cell:nth-child(57),
.cell:nth-child(58),
.cell:nth-child(59),
.cell:nth-child(60),
.cell:nth-child(61),
.cell:nth-child(62),
.cell:nth-child(63) {
  border-top-color: #222;
}
