.board {
  display: grid;
  grid-template-columns: repeat(9, 6vh);
  grid-template-rows: repeat(9, 6vh);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
